.container {
  max-width: 700px;
  margin: 80px auto;
  text-align: center;
  color: white;
}

h1 {
  font-size: 3rem;
  margin-bottom: 30px;
}

input[type="file"] {
  margin-top: 20px;
  padding: 10px;
}

button {
  background: #000;
  color: white;
  padding: 12px 25px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  margin-left: 15px;
  font-size: 1rem;
}

button:hover {
  background: #6ac200;
}
